.game {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem 3rem;
}

.check-hit {
  background-color: #bff1a1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 4rem;
}

.check-hit > label {
  padding: 1rem;
}

.hero, .enemy {
  width: 250px;
}

.hero img, .enemy img {
  object-fit: cover;
  height: 350px;
  width: 100%;
  border: 1px solid black;
}

.hero-card, .enemy-card {
  width: 100%;
  position: relative;
}

.hero-hp, .enemy-hp {
  position: relative;
  height: 30px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  border: 1px black solid;
  display: flex;
}

.enemy-hp {
  justify-content: end;
}

.enemy-hp .hp {
  background-color: #f12a2a;
  height: 100%;
  width: 100%;
}

.hero-hp .hp {
  background-color: #f12a2a;
  height: 100%;
  width: 100%;
}

.hp-lvl  {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn-hit {
  padding: 0.5rem 1rem;
  background-color: #700606;
  color: aliceblue;
  border-radius: 5px;
}

.stats {
  border: 1px solid black;
  padding: 0.5rem 0.8rem;
  font-weight: bold;
}

.stats div {
  padding: 0.2rem 0.3rem;
}

.chose-enemy {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.chose-enemy > div {
  width: 100px;
  padding: 0 2rem;
  text-align: center;

}

.chose-enemy img {
  width: 100%;
  object-fit: cover;
  height: 150px;
}

.none {
  display: none;
}

.hero-dmg {
  position: absolute;
  font-size: 80px;
  color: white;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 4px 2px 0 black;
  animation: 3s move-top-and-hide;
}

header, footer {
  background-color: #444;
  height: 80px;
  color: #bff1a1;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes move-top-and-hide {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 1;
    top: 15%;
  }
  100% {
    opacity: 0.1;
    top: 0;
  }
}
